<div class="pquestion">
	<div class="pquestion-title">  <%= pquestion.question.title %> </div>
	<%= ratings_for pquestion%>
	<%unless pquestion.comment.nil?%><div class="pquestion-comment">  Comments: <%= pquestion.comment %> </div><%end%>
</div>
