<header>
  <p>Add comment for question : <%= @pquestion.question.title %></p>
</header>
<%= render 'form' %>

<div class="addlink">
<%= link_to 'Back', pquestions_path(:project_id =>@pquestion.project, :component_id => @pquestion.question.component) %>
</div>

