

nav {
  float: right;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


body {
  width: 600px;
  margin: 20px auto;
  background-color: #333; 
}

body, p, ol, ul, td {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size:   16px;
  line-height: 24px;
  color: white;
}

a { 
  color: #ccc;
  border-bottom: 1px solid #888;
  text-decoration: none;
}
a:visited { color: #999; }
a:hover { color: #fff; }

a.icon {
  opacity: 0.4;
  border-bottom: none;
}

a.icon:hover {
  opacity: 1.0;
  background-color: transparent;
}

a.icon img {
  border: none;
}

header p {
  padding-left: 6px;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: normal;
}
h1 {
  color: #ffc;
  font-size: 32px;
  padding-left: 6px;
}

label {
  color: #ccc;
}

.odd {
  background-color: #373737;
}

.field .prequirement,
.field .pquestion,
.field .pcomponent {
  position: relative;
  border-bottom: 1px solid #666;
	padding-bottom:30px;
}
.field .pcomponent.first {
  border-top: 1px solid #666;
}

.field .prequirement .prequirement-title,
.field .pquestion .pquestion-title,
.field .pcomponent .pcomponent-title {
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding: 6px 0 4px 6px;
  color: #ccc;
}
.field .pcomponent .user-name {
  display: block;
  color: #999;
  padding: 0 0 4px 6px;
}
.field .pcomponent .status-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  right: 60px;
  bottom: 5px;
}
.field .pcomponent .status-title.status_1 { color: #669; }
.field .pcomponent .status-title.status_2 { color: #966; }
.field .pcomponent .status-title.status_3 { color: #969; }
.field .pcomponent .status-title.status_4 { color: #996; }

.field .pcomponent .time {
  position: absolute;
  font-size: 12px;
  color: #555;
  top: 11px;
  right: 60px;
}

.field .pcomponent .question-score,
.field .pcomponent .requirement-score {
  display: block;
  padding: 0 0 4px 6px;
  font-size: 12px;	
  color:#CCCCCC;
}

.requirements {
	position: absolute;
	  font-size: 12px;
	  color: #555;
	  top: 0px;
	  right: 0px;
}



.field .pcomponent a.prequirements {
  position: absolute; 
  top: 10px;
  right: 290px;
}


.field .pcomponent a.pquestions {
  position: absolute; 
  top: 10px;
  right: 310px;
}


.field .prequirement a.edit, 
.field .pcomponent a.edit {
  position: absolute; 
  top: 10px;
  right: 30px;
}


.field .pcomponent a.destroy {
  position: absolute; 
  top: 10px;
  right: 10px;
}


.prequirement-yes{
	color:#008000
}

.prequirement-no{
	color:#CC0000
}


.pcomponent {
  display: block;
}


fieldset {
  border: none;
}

fieldset legend {
  font-weight: bold;
}

p {
  padding-left: 6px;
}

p.addlink {
  text-align: right;
	color:#000000;
}

td{
	text-align:center;
}

ol{
	font-weight: bold;	
}

ul{
	font-weight: normal;	
}


#alert {
  color: red;
}

div.menu{
	
  	position: absolute;
  	left: 60px;
  	top: 30px;
	

}


div.menu .menu-item{
	text-align:center;
	padding-right: 6px;
	padding-left: 6px;	
	padding-bottom: 4px;
	margin: 9px;	
	-webkit-border-radius: 10px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#546b7e), to(rgba(0,0,0,0.15)));
	background-repeat:no-repeat;
	background-image:-moz-linear-gradient(0% 270deg, #546b7e, rgba(0,0,0,0.15));
	border:1px #000000 solid;
	text-decoration: none;
}




div.comments h5{
	text-align:center;
	padding:0;
	margin:0;
	background-color:  #6a7888;
}


div.comments{	
	border:#57595b 1px solid;
}

ul.requirements-comment{
	border:0px;
	margin:0;
}


#project_due_date_input li{	
	height:30px;
	width:33.333%;
	padding:0;
	margin:0;
	text-align:center;
	
}

#notice{
	background-color:  rgba(0,0,0,0.15);
	padding:10px;
}

table{
	width:80%;
}
