
nav {
  float: right;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


body {
  width: 600px;
  margin: 20px auto;
  background-color: #333; 
  color: #333;
}

body, p, ol, ul, td {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size:   16px;
  line-height: 24px;
  color: white;
}

a { 
  color: #ccc;
  border-bottom: 1px solid #888;
  text-decoration: none;
}
a:visited { color: #999; }
a:hover { color: #fff; }

a.icon {
  opacity: 0.4;
  border-bottom: none;
}

a.icon:hover {
  opacity: 1.0;
  background-color: transparent;
}

a.icon img {
  border: none;
}

header p {
  padding-left: 6px;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: normal;
}
h1 {
  color: #ffc;
  font-size: 32px;
  padding-left: 6px;
}

label {
  color: #ccc;
}

.odd {
  background-color: #373737;
}

.field .pquestion,
.field .pcomponent {
  position: relative;
  border-bottom: 1px solid #666;
}
.field .pcomponent.first {
  border-top: 1px solid #666;
}

.field .pquestion .pquestion-title,
.field .pcomponent .pcomponent-title {
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding: 6px 0 4px 6px;
  color: #ccc;
}
.field .pcomponent .user-name {
  display: block;
  color: #999;
  padding: 0 0 4px 6px;
}
.field .pcomponent .status-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  right: 60px;
  bottom: 2px;
}
.field .pcomponent .status-title.status_1 { color: #669; }
.field .pcomponent .status-title.status_2 { color: #966; }
.field .pcomponent .status-title.status_3 { color: #969; }
.field .pcomponent .status-title.status_4 { color: #996; }

.field .pcomponent .time {
  position: absolute;
  font-size: 12px;
  color: #555;
  top: 11px;
  right: 60px;
}

.requirements {
	position: absolute;
	  font-size: 12px;
	  color: #555;
	  top: 0px;
	  right: 0px;
}

.field .pcomponent a {
  /* position: absolute; */
  top: 10px;
}
.field .pcomponent a.edit {
  right: 30px;
}
.field .pcomponent a.destroy {
  right: 10px;
}



.pcomponent {
  display: block;
}


fieldset {
  border: none;
}

fieldset legend {
  font-weight: bold;
}

p {
  padding-left: 6px;
}

p.addlink {
  text-align: right;
}

#alert {
  color: red;
}
